/* Global settings */

:root{
    --mainBgColor:rgba(20,20,31,11);
    --secondaryBgColor:rgba(27,27,39,1);
    --borderColor1:rgba(40,41,57,1);
    --borderColor2:rgba(79,86,105,1);
    --textColorMain:#fff;
    --textColorSecondary:rgb(226, 227, 232);
    --themeColorMain:rgba(219,26,90,1);
    --themeColorSecondary:#386fd2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
  }

a{
  color: #40e0d0;
}

body{
    background-color: var(--mainBgColor);
    color: var(--textColorMain);
}

.container{
  max-width: 600px;
  margin:20px auto;
}

/* Login & Register Pages */

.auth--container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form--wrapper{
  width: 600px;
  /* width: 600px; */
  padding: 2em;
}

.field--wrapper{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.5em 0;
}



/* Form Input Styling */

input[type="text"], input[type="password"], input[type="email"], textarea{
  background: var(--mainBgColor);
  border: none;
  border-bottom: 1px solid var(--borderColor1);
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
  color: var(--color-light);
  outline: none;
  font-size: 18px;
  text-shadow: none !important;
}


/* Button Styling */

.btn{
  padding: 0.5em 1em;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.btn--lg{
  padding: 1em 2em;
}

.btn--main{
  background-color: rgba(219,26,90,1);
  color: #fff;
}

.btn--secondary{
  background-color: #8db3dd;
}

.btn:hover{
  opacity: 0.7;
}

/* Header Styling */

#header--wrapper{
  background-color: var(--mainBgColor);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
  border:2px solid var(--borderColor1);
  border-bottom: none;
  /* color: #386fd2; */
  color: #40e0d0;
  
}

.header--link{
  color: #c7d8eb;
  cursor: pointer;
  transition: 0.3s;

}


.header--link:hover{
  color:red;
}

/* Room Styling */

.room--container{
  padding: 0.9em;
  background-color: var(--secondaryBgColor);
  border-radius: 0 0 10px 10px;
  border:1px solid var(--borderColor1);
}

#message--form{
  
  display: flex;
  flex-direction: column;
  gap: 0.5em;

}

.send-btn--wrapper{
  display: flex;
  justify-content: flex-end;
}

.message--wrapper{
  display: flex;
  align-items: flex-start;
flex-direction: column;
/* margin: 10px 0; */
 margin: 8px 12px; 

}

.own-message{
  align-items: flex-end;
  text-align: right;
    /* overflow-wrap: break-word; */
  word-break: break-word;      
  text-align: left; 
  padding-left: 80px;
}

.message--header{
  display: flex;
  
  justify-content: space-between;
  align-items: center;
color: rgb(232, 234, 234);

}

.message--body{
  padding: 0.5em 0;
  color: var(--textColorSecondary);
  
  background-color: #386fd2;
  padding: 0.9rem;
  border-radius: 20px;
  width:fit-content;
  max-width: 90%;
  word-wrap: break-word; /* added */
  
  

  
}


.own-message--body{
  background-color: var(--themeColorMain);
  
  
}

.message--body--owner{
  border: 1px solid rgba(219,26,90,1);
  background-color: var(--secondaryBgColor);
 
}

.message-timestamp{
  margin-left: 1em;
  color: rgb(164, 161, 161);
  
}

.delete--btn{
  color:#8db3dd;
  cursor: pointer;
  transition: 0.3s;
  width: 16px;
}

.delete--btn:hover{
  color:red;
}





.chat-image,.chat-video{
  border-radius: 10px;
  background-color: #386fd2;
  margin-top: 5px;
  max-width: 200px;
  height: auto;
  display: block;
}


.media-message {
  background: transparent;
  border: none;
  padding: 0;
  box-shadow: none;
}
.media-message img, .media-message video{
  border-radius: 10px;
  display: block;
}
.file-icon{
  cursor:pointer;
  display: flex;
  align-items: center;
  border-radius: 8px;
  color: white;
  margin-left: 2PX;
}




.text-message {
  width: 100%;
  min-height: 3rem;        
  max-height: 150px;      
  padding: 10px;
  font-size: 1.2rem;

  background: black;
  color: white;

  border: none;
  outline: none;
  resize: none;            
  overflow-y: auto;        
  scrollbar-width: none;  
  
}

.text-message::-webkit-scrollbar {
  display: none;         
}
